
backend/generala/.vs/generala/v17/DocumentLayout.json
backend/generala/.vs/generala/v17/.suo
backend/generala/.vs/generala/FileContentIndex/cc0ce6e1-f125-4867-a03b-f8fecf6e1d08.vsidx
backend/generala/.vs/generala/config/applicationhost.config
