<!-- NAVBAR MENU RESPONSIVE -->
<div class="navbar">

    <p-menubar [model]="items" styleClass="custom-menubar">
  
      <!-- Logo Generala -->
      <ng-template pTemplate="start">
          <img src="GeneralaIcon.jpg" alt="Logo GENERALA" class="logo desktop-logo">
      </ng-template>
  
      <ng-template pTemplate="end">
          <span class="vertical-align-middle lg:m-4" *ngIf="authService.isAuthenticated()">
              ¡Hola, {{ nickname }}!
          </span>
  
          <!-- Botón de Login -->
          <a id="inicio-sesion" *ngIf="!authService.isAuthenticated()" class="session-link" (click)="navigateToLogin()">
              <button class="p-button font-bold ml-4 vertical-align-middle">Iniciar sesión</button>
          </a>
  
          <!-- Botón de Logout -->
          <a *ngIf="authService.isAuthenticated()" class="session-link" (click)="logout()">
              <img src="icons/logout.png" alt="icono-logout" width="40px" class="logout vertical-align-middle">
          </a>
      </ng-template>
  
    </p-menubar>
  
  </div>
  